html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

#map_canvas { 
	top: 0px;
	height: 100%;
	position: relative;
	z-index: 0;
	width:100%; 
	height:100%;
}

#create-btn{
	position: fixed;
	bottom: 20px;
	right: 50px;
	z-index: 3;
}

#appLogo{
	position: fixed;
	width: 180px;
	height: 50px;
	top: 10px;
	left: 10px;

	background-image: url("../img/logoPoke.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;

	z-index: 1;
}
